{{#mdc-top-app-bar style="dense"}}
  {{#mdc-top-app-bar-row}}
    {{#mdc-top-app-bar-section}}
      {{mdc-top-app-bar-navigate-up-to "index"}}
      {{#mdc-top-app-bar-title}}Yourtube{{/mdc-top-app-bar-title}}
    {{/mdc-top-app-bar-section}}
  
    {{#mdc-top-app-bar-section position="alignEnd"}}
      <div>
        {{#if youtube.authenticated}}
          {{mdc-top-app-bar-action-item icon="account_circle" click=(action (mut openMenu) true)}}
        {{else}}
          {{mdc-top-app-bar-action-item icon="more_vert" click=(action (mut openMenu) true)}}
        {{/if}}


        {{#mdc-menu position="fixed" open=openMenu anchorCorner="bottomRight"}}
          {{#mdc-menu-list}}
            {{mdc-menu-item-link-to "My Subscriptions" "subscriptions"}}

            {{mdc-list-divider}}

            {{#mdc-menu-item action "gapi"}}
              {{#mdc-menu-item-text}}
                {{#if youtube.authenticated}}
                  Sign In
                {{else}}
                  Sign out
                {{/if}}
              {{/mdc-menu-item-text}}
            {{/mdc-menu-item}}
          {{/mdc-menu-list}}
        {{/mdc-menu}}
      </div>

    {{/mdc-top-app-bar-section}}
  {{/mdc-top-app-bar-row}}
{{/mdc-top-app-bar}}

{{#mdc-content}}
  {{outlet}}

  {{mdc-snackbar message=snackbar.message
               action=snackbar.action
               dismissible=snackbar.dismissible}}
{{/mdc-content}}