{{page-title "Yourtube"}}

<MdcTopAppBar @style="dense">
  <MdcTopAppBarRow>
    <MdcTopAppBarSection>
      {{!-- {{mdc-top-app-bar-navigate-up-to "index"}} --}}
      <LinkTo @route="index" style=>
        <MdcTopAppBarTitle>Yourtube</MdcTopAppBarTitle>
      </LinkTo>
    </MdcTopAppBarSection>
  
    <MdcTopAppBarSection @position="alignEnd">
      <div>
        {{#if authenticated}}
          <MdcTopAppBarActionItem @icon="account_circle" @click={{action (mut openMenu) true}} />
        {{else}}
          <MdcTopAppBarActionItem @icon="more_vert" @click={{action (mut openMenu) true}} />
        {{/if}}


        <MdcMenu @position="fixed" @open={{openMenu}} @anchorCorner="bottomRight">
          <MdcMenuList>
            {{mdc-menu-item-link-to "My Subscriptions" "subscriptions"}}
            {{mdc-menu-item-link-to "Privacy" "privacy"}}
            {{mdc-menu-item-link-to "About" "about"}}

            <MdcListDivider />

            <div {{on "click" this.gapi}}>
              <MdcMenuItem>
                <MdcMenuItemText>
                  {{#if authenticated}}
                    Sign Out
                  {{else}}
                    Sign In
                  {{/if}}
                </MdcMenuItemText>
              </MdcMenuItem>
            </div>
          </MdcMenuList>
        </MdcMenu>
      </div>

    </MdcTopAppBarSection>
  </MdcTopAppBarRow>
</MdcTopAppBar>

<MdcContent>
  {{outlet}}

  <MdcSnackbar @message={{snackbar.message}} @action={{snackbar.action}} @dismissible={{snackbar.dismissible}} />
</MdcContent>
