{{#mdc-top-app-bar style="dense"}}
  {{#mdc-top-app-bar-row}}
    {{#mdc-top-app-bar-section}}
      {{!-- {{mdc-top-app-bar-navigate-up-to "index"}} --}}
      {{#mdc-top-app-bar-title}}Yourtube{{/mdc-top-app-bar-title}}
    {{/mdc-top-app-bar-section}}
  
    {{#mdc-top-app-bar-section position="alignEnd"}}
      <div>
        {{#if authenticated}}
          {{mdc-top-app-bar-action-item icon="account_circle" click=(action (mut openMenu) true)}}
        {{else}}
          {{mdc-top-app-bar-action-item icon="more_vert" click=(action (mut openMenu) true)}}
        {{/if}}


        {{#mdc-menu position="fixed" open=openMenu anchorCorner="bottomRight"}}
          {{#mdc-menu-list}}
            {{mdc-menu-item-link-to "My Subscriptions" "subscriptions"}}
            {{mdc-menu-item-link-to "Privacy" "privacy"}}
            {{mdc-menu-item-link-to "About" "about"}}

            {{mdc-list-divider}}

            <div {{on "click" this.gapi}}>
              {{#mdc-menu-item}}
                {{#mdc-menu-item-text}}
                  {{#if authenticated}}
                    Sign Out
                  {{else}}
                    Sign In
                  {{/if}}
                {{/mdc-menu-item-text}}
              {{/mdc-menu-item}}
            </div>
          {{/mdc-menu-list}}
        {{/mdc-menu}}
      </div>

    {{/mdc-top-app-bar-section}}
  {{/mdc-top-app-bar-row}}
{{/mdc-top-app-bar}}

{{#mdc-content}}
  {{outlet}}

  {{mdc-snackbar message=snackbar.message
               action=snackbar.action
               dismissible=snackbar.dismissible}}
{{/mdc-content}}
