<div class="container">
  {{mdc-textfield label="Put a Youtube Channel ID or URL here or a reddit comments URL here"
    style="fullwidth"
    change=(action "search")
    enter=(action "search") value=searchValue
    trailingIcon=(hash icon="search" clickable=true click=(action "search"))}}
</div>

<br />

<div class="container">
  <h3>Bingeable Channels</h3>
  <ul id="bingeable-channels">
    <li>
      <LinkTo @route="youtube" @model="https://www.youtube.com/c/TrevorWallace">
        <img id="img" class="style-scope yt-img-shadow" width="80" alt="" src="https://yt3.ggpht.com/ytc/AKedOLSD50ULpH7DbTcz7iJAIWxaTHC-HVXKMHYNYskutQ=s88-c-k-c0x00ffffff-no-rj" />
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="youtube" @model="https://www.youtube.com/c/superwog">
        <img id="img" class="style-scope yt-img-shadow" width="80" alt="" src="https://yt3.ggpht.com/ytc/AKedOLQFjw-99UtZpSpcxrUG9eN35xGpDvmp8XrzbLoerQ=s88-c-k-c0x00ffffff-no-rj" />
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="youtube" @model="https://www.youtube.com/c/GarnComedy">
        <img id="img" class="style-scope yt-img-shadow" width="80" alt="" src="https://yt3.ggpht.com/ytc/AKedOLTVJOswaNZy9fvEsHPkNhefTerEe43BrovJ0PFA=s88-c-k-c0x00ffffff-no-rj" />
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="youtube" @model="https://www.youtube.com/user/BroScienceLife">
        <img id="img" class="style-scope yt-img-shadow" width="80" alt="" src="https://yt3.ggpht.com/ytc/AKedOLRUagr2zoOhu8TuRPL0FvzfJ04bUg5MCULWTA_JHA=s88-c-k-c0x00ffffff-no-rj" />
      </LinkTo>
    </li>
  </ul>
</div>

<br />

<div class="container">
  {{#if youtube.isAuthenticated}}
    {{#mdc-layout-grid}}
      {{#mdc-layout-grid-cell columns=6}}
        <h3>My Subscriptions</h3>
      {{/mdc-layout-grid-cell}}

      {{#mdc-layout-grid-cell class="alight-right" columns=6}}
        {{mdc-button-linkto "See All" "subscriptions" style="raised"
      trailingIcon="arrow_forward"}}
      {{/mdc-layout-grid-cell}}
    {{/mdc-layout-grid}}
    
    <ul id="bingeable-channels">
      {{#each model as |video|}}
        <li>
          <LinkTo @route="youtube" @model="https://www.youtube.com/channel/{{video.channelId}}">
            <img class="yt-img-shadow" width="80" alt="" src="{{video.thumbnails.default.url}}" />
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h3>Please Login Here</h3>
  {{/if}}
</div>

<br />