{{#if development}}
  {{#mdc-layout-grid}}
    {{#mdc-layout-grid-cell desktopColumns=4 tabletColumns=4 phoneColumns=4}}
      youtube.isAuthenticated: {{youtube.isAuthenticated}}
    {{/mdc-layout-grid-cell}}

    {{#mdc-layout-grid-cell desktopColumns=4 tabletColumns=4 phoneColumns=4}}
      this.authenticated: {{this.authenticated}}
    {{/mdc-layout-grid-cell}}

    {{#mdc-layout-grid-cell desktopColumns=4 tabletColumns=4 phoneColumns=4}}
      authenticated: {{authenticated}}
    {{/mdc-layout-grid-cell}}
  {{/mdc-layout-grid}}

  {{#mdc-layout-grid}}
    {{#mdc-layout-grid-cell columns=12}}
      youtube.user: {{json youtube.user}}
    {{/mdc-layout-grid-cell}}
  {{/mdc-layout-grid}}
{{/if}}

{{#mdc-layout-grid}}
  {{#mdc-layout-grid-cell columns=12}}
    {{#if youtube.isAuthenticated}}
      Go to My Subscriptions
    {{else}}
      Please login or
    {{/if}}
  {{/mdc-layout-grid-cell}}
{{/mdc-layout-grid}}

<div class="container">
  {{mdc-textfield label="Put a Youtube channel ID or URL of a channel here"
    style="fullwidth"
    change=(action "search")
    enter=(action "search") value=searchValue
    trailingIcon=(hash icon="search" clickable=true click=(action "search"))}}
</div>

<br />

<div class="container">
  {{mdc-textfield label="Put a reddit thread here"
    style="fullwidth"
    change=(action "search")
    enter=(action "search") value=searchValue
    trailingIcon=(hash icon="search" clickable=true click=(action "search"))}}
</div>
