<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
    youtube.isAuthenticated: {{youtube.isAuthenticated}}
  </div>

  <div class="mdl-cell mdl-cell--2-col">
    this.authenticated: {{this.authenticated}}
  </div>

  <div class="mdl-cell mdl-cell--2-col">
    authenticated: {{authenticated}}
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
    youtube.user: {{json youtube.user}}
  </div>
</div>

<div class="mdl-grid">
  {{#if youtube.isAuthenticated}}
    logged in
  {{else}}
    Please login
  {{/if}}
</div>