<MdcLayoutGrid>
  <MdcLayoutGridCell @columns={{4}}>

    <MdcDataTable @label="Channels" @data={{filteredSubscriptions}} as |dataTable|>
      <MdcDataTableHeaderRow>
        <MdcDataTableHeaderCell>
          <MdcLayoutGrid>
            <MdcLayoutGridCell @columns={{4}}>
              Channels ({{filteredSubscriptions.length}})
            </MdcLayoutGridCell>

            <MdcLayoutGridCell @columns={{8}}>
              <div class="text-field-row">
                <div class="text-field-container">
                  <MdcTextfield @label="Search" @style="standard" @name="name" @value={{this.name}} />
                </div>
              </div>
            </MdcLayoutGridCell>
          </MdcLayoutGrid>
        </MdcDataTableHeaderCell>
      </MdcDataTableHeaderRow>

      <MdcDataTableContent>
        {{#each dataTable.data as |subscription|}}
          <MdcDataTableRow @data={{subscription}}>
            <MdcDataTableCell>
              <LinkTo @route='subscriptions.channel' @model={{subscription.channel}}>
                {{subscription.title}}
              </LinkTo>
            </MdcDataTableCell>
          </MdcDataTableRow>
        {{/each}}
      </MdcDataTableContent>
    </MdcDataTable>
  </MdcLayoutGridCell>

  <MdcLayoutGridCell @columns={{8}}>
    {{outlet}}
  </MdcLayoutGridCell>
</MdcLayoutGrid>
