{{#mdc-layout-grid}}
  {{#mdc-layout-grid-cell columns=4}}

    {{#mdc-data-table label="Channels" data=filteredSubscriptions as |dataTable|}}
      {{#mdc-data-table-header-row}}
        {{#mdc-data-table-header-cell}}
          {{#mdc-layout-grid}}
            {{#mdc-layout-grid-cell columns=4}}
              Channels ({{filteredSubscriptions.length}})
            {{/mdc-layout-grid-cell}}

            {{#mdc-layout-grid-cell columns=8}}
              <div class="text-field-row">
                <div class="text-field-container">
                  {{mdc-textfield label="Search" style="standard" name="name" value=this.name }}
                </div>
              </div>
            {{/mdc-layout-grid-cell}}
          {{/mdc-layout-grid}}
        {{/mdc-data-table-header-cell}}
      {{/mdc-data-table-header-row}}

      {{#mdc-data-table-content}}
        {{#each dataTable.data as |subscription|}}
          {{#mdc-data-table-row data=subscription}}
            {{#mdc-data-table-cell}}
              <LinkTo @route='subscriptions.channel' @model={{subscription.channel}}>
                {{subscription.title}}
              </LinkTo>
            {{/mdc-data-table-cell}}
          {{/mdc-data-table-row}}
        {{/each}}
      {{/mdc-data-table-content}}
    {{/mdc-data-table}}
  {{/mdc-layout-grid-cell}}

  {{#mdc-layout-grid-cell columns=8}}
    {{outlet}}
  {{/mdc-layout-grid-cell}}
{{/mdc-layout-grid}}
